<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

    <title>Serie Table</title>
    <script>
        $(document).ready( function () {
            $('#serie').DataTable();
        } );
    </script>
</head>
<body>
<h1>Serie Table</h1>

<table id="serie" class="display" >
    <thead>
    <tr>
        <td><b>Id</b></td>
        <td><b>Name</b></td>
        <td><b>File</b></td>
        <td><b>Cass ID</b></td>
        <td><b>Category ID</b></td>
        <td><b>Date From</b></td>
        <td><b>Date To</b></td>
        <td><b>Frequency</b></td>
        <td><b>Markers</b></td>
        <td><b>Unit</b></td>
        <td><b>Feed</b></td>
        <td><b>User Id</b></td>
        <td><b>Create Date</b></td>
        <td><b>Change Date</b></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ser : ${serieRowList}">
        <td th:text="${ser.id}">Id</td>
        <td th:text="${ser.name}">Name</td>
        <td th:text="${ser.file}">File</td>
        <td th:text="${ser.cassId}">Cass ID</td>
        <td th:text="${ser.categoryId}">Category ID</td>
        <td th:text="${ser.dateFrom}">Date From</td>
        <td th:text="${ser.dateTo}">Date To</td>
        <td th:text="${ser.frequency}">Frequency</td>
        <td th:text="${ser.markers}">Markers</td>
        <td th:text="${ser.unit}">Unit</td>
        <td th:text="${ser.feed}">Feed</td>
        <td th:text="${ser.userId}">User Id</td>
        <td th:text="${ser.createDate}">Create Date</td>
        <td th:text="${ser.changeDate}">Change Date</td>
    </tr>
    </tbody>
</table>
</body>
</html>